@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f4fc;
  line-height: 20px;
}

/*----PROJECT ------*/

.projectPage {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
  padding: 0 30px;
}

.projectPage h1 {
  color: #292e47;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.projectPage h1::first-letter {
  text-transform: capitalize;
}

.projectPage-type {
  margin: 30px 0 40px;
  display: flex;
  flex-direction: column;
}

.projectPage-type h3 {
  font-size: 1.25em;
  margin-bottom: 20px;
  line-height: 26px;
  color: #6b708d;
}

.projectPage-type div {
  color: #292e47;
  line-height: 20px;
  font-size: 1.25em;
}

.projectDate {
  color: #6b708d;
}

.image-wrapper {
  position: relative;
}

.projectPage-img {
  width: 90vw;
  height: 450px;
  object-fit: cover;
  display: inline-block;
  padding: 0 30px 0 0;
  filter: drop-shadow(0 2px 8px #292e47);
  position: relative;
}

.project-textDescription {
  color: #292e47;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  margin: 80px 0 20px;
  padding: 0;
}
.project-textDescription::first-letter {
  text-transform: capitalize;
}

/* --------MEDIA QUERY-------------- */

@media only screen and (min-width: 768px) {
  .projectPageSection {
    margin-top: 80px;
  }

  .projectPage-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 30px;
  }

  .projectPage h1 {
    color: #292e47;
    font-size: 3.5em;
  }
}

@media only screen and (min-width: 1460px) {
  body {
    padding: 0 200px;
  }

  .projectPage-img {
    width: 75vw;
  }
}
