@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f4fc;
  line-height: 20px;
}

/*----PROJECT ------*/

.projectPage {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
  padding: 0 30px;
}

.projectPage h1 {
  color: #292e47;
  font-size: 2.5em;
  margin-bottom: 20px;
  margin-top: 60px;
}

.projectPage h1::first-letter {
  text-transform: capitalize;
}

.projectPage-type {
  margin: 30px 0 40px;
  display: flex;
  flex-direction: column;
}

.projectPage-type h3 {
  font-size: 1.25em;
  margin-bottom: 20px;
  line-height: 26px;
  color: #6b708d;
}

.projectPage-type div {
  color: #292e47;
  line-height: 20px;
  font-size: 1.25em;
}

.projectDate {
  color: #6b708d;
}

.image-wrapper {
  position: relative;
}

.projectPage-img {
  width: 90vw;
  height: 450px;
  object-fit: cover;
  display: inline-block;
  padding: 0 30px 0 0;
  filter: drop-shadow(0 2px 8px #292e47);
  position: relative;
}

.project-textDescription {
  color: #292e47;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  margin: 80px 0 20px;
  padding: 0;
}
.project-textDescription::first-letter {
  text-transform: capitalize;
}

.card-container {
  display: none;
}

/* --------MEDIA QUERY-------------- */

@media only screen and (min-width: 768px) {
  .projectPageSection {
    margin-top: 20px;
  }

  .projectPage-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 30px;
  }

  .projectPage h1 {
    color: #292e47;
    font-size: 3.5em;
    margin-top: 40px;
  }

  .projectImg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s;
  }

  .project-article {
    width: 330px;
    height: 230px;
    border-radius: 10px;
    outline: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    display: block;
    margin: auto;
    z-index: 1;
  }

  .project-article:hover .projectImg {
    transform: scale(1.5);
    opacity: 0.3;
    transition: 1s;
    transition-timing-function: ease;
  }

  .project-title {
    position: absolute;
    top: 30px;
    left: 20px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin: 0;
    line-height: 0;
    z-index: 2;
  }

  .project-link {
    display: none;
  }

  .text-dataBody {
    margin-top: 60px;
    font-size: 26px;
    text-align: center;
    color: white;
    font-weight: 600;
  }
}

@media only screen and (min-width: 1460px) {
  body {
    padding: 0 200px;
  }

  .projectPage-img {
    width: 75vw;
  }

  .project-article {
    width: 350px;
    height: 250px;
  }

  .card-container {
    justify-items: center;
    perspective: 1000px;
    display: block;
  }

  .dimension {
    position: relative;
    width: 400px;
    height: 300px;
    transition: transform 1s;
    transform-style: preserve-3d;
    margin: 30px 30px 30px 450px;
  }

  .card-container:hover .dimension {
    transform: rotateY(180deg);
  }

  .front,
  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: transform 1s ease-in-out;
  }

  .front {
    background-color: #ff9e80;
    color: #fff;
  }

  .back {
    background-color: #ff9e80;
    color: #fff;
    transform: rotateY(180deg);
  }

  .projectImg3d {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    border-radius: 10px;
  }

  .title {
    font-size: 2.5em;
  }
  .subtitle {
    font-size: 2.3em;
  }
  .subtitle,
  .title {
    color: white;
    margin: 1rem;
    text-align: center;
    transform: translateZ(100px);
  }
}
